.register {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://images.pexels.com/photos/1419923/pexels-photo-1419923.jpeg?auto=compress&cs=tinysrgb&w=800");
  background-size: cover;
}

.register-wrap {
  width: 40%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.registerTitle {
  font-size: 50px;
  color: #212529;
}

.registerForm {
  width: 80%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  margin: 10px 0;
  color: #212529;
  font-size: 16px;
}

.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
}

.registerButton {
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  background-color: teal;
  font-size: 15px;
  border: none;
  color: white;
  border-radius: 10px;
  height: 100%;
}

.registerP {
  margin-top: 10px;
  padding: 5px;
  font-size: 14px;
}

.registerButtonLogin {
  /* position: absolute;
  top: 60px;
  right: 20px; */
  background-color: lightcoral;
  cursor: pointer;
  border: none;
  padding: 8px 30px;
  color: white;
  border-radius: 6px;
}
