.sideBar {
  flex: 3;
  margin-left: 20px;
  margin-right: 10px;
  padding-bottom: 30px;
  background: linear-gradient(#e9ecef 40%, #f8f9fa 80%);
  box-shadow: 0 4px 8px 0 #e9ecef;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: max-content;
  position: sticky;
  top: 70px;
}

.sideBarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sideBarTitle {
  margin: 10px;
  padding: 5px;
  width: 90%;
  border-top: 1px solid #6c757d;
  border-bottom: 1px solid #6c757d;
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  color: #222;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}

.sideBarItem > img {
  margin-top: 15px;
  max-width: 300px;
}

.sideBarItem > p {
  padding: 30px 40px;
  font-style: italic;
}

.sideBarList {
  list-style: none;
  margin-bottom: 30px;
  align-items: center;
}

.sideBarListItem {
  display: inline-block;
  width: 45%;
  margin-top: 15px;
  cursor: pointer;
  text-align: center;
}

.sideBarListItem::first-letter {
  text-transform: uppercase;
}

.sideBarSocial {
  margin-top: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sideBarIcon {
  color: teal;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}
