.header {
  margin-top: 60px;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  font-style: italic;
}

.headerTitleSm {
  position: absolute;
  top: 75px;
  font-size: 40px;
  color: #6c757d;
  text-shadow: 3px 3px 6px #778da9;
}

.headerTitleLg {
  position: absolute;
  top: 105px;
  font-size: 100px;
  color: #495057;
  text-shadow: 5px 5px 5px #e0e1dd;
  z-index: 2;
}

.headerImg {
  width: 100%;
  height: 400px;
  margin-top: 50px;
  object-fit: cover;
  opacity: 0.8;
  z-index: 1;
}
